body {
	background-color: white;
}

.page-heading {
	margin-top: 4rem;
	padding: 0 20px;
	text-align: center;
	font-size: 2rem;
	margin-bottom: 0.8rem;
}

.page-title {
	margin-bottom: 3rem;
	padding: 0 20px;
	text-align: center;
	font-size: 1.3rem;
	font-weight: 500;
}

.price {
	padding: 3rem 20px;
	background-color: #f1f1f1;
}

.price-container {
	max-width: 1200px;
	margin: auto;
	display: flex;
	gap: 20px;
	justify-content: space-between;
}

.price-item {
	max-width: 31%;
	border-radius: 10px;
	overflow: hidden;
}

.price-heading {
	background-color: #4a154b;
	color: white;
	padding: 30px;
	display: flex;
	justify-content: space-between;
	gap: 20px;
	min-height: 220px;
}

.price-text-flex p {
	font-size: 0.9rem;
}

.price-heading img {
	width: 6rem;
	height: 6rem;
	object-fit: cover;
	border-radius: 10px;
}

.price-content {
	padding: 30px;
	background-color: white;
}

.price-amount {
	color: green;
	font-size: 1.8rem;
}

.price-desc {
	font-size: 0.7rem;
	color: rgb(95, 95, 95);
	margin-bottom: 4rem;
}

.price-feature-heading {
	font-weight: 600;
	font-size: 1rem;
	margin-bottom: 0.5rem;
}

.price li {
	list-style-type: none;
	display: flex;
	gap: 10px;
	margin-bottom: 0.4rem;
}

.price ul {
	margin-bottom: 6rem;
}

.price li img {
	width: 18px;
	height: 18px;
	filter: saturate(100%);
	display: flex;
	align-items: center;
}

.price li p {
	font-size: 0.9rem;
}

.price-button {
	background-color: rgb(4, 109, 4);
	color: white;
	text-align: center;
	padding: 1rem 0;
	border-radius: 3px;
	font-size: 1.1rem;
	font-weight: 600;
}

@media (max-width: 950px) {
	.price-container {
		flex-direction: column;
	}

	.price-item {
		min-width: 100%;
	}
}

/* reacap section */

.recap {
	padding: 3rem 20px;
}

.recap-container {
	max-width: 1200px;
	margin: auto;
	border-radius: 18px;
	background-color: rgb(238, 228, 213);
	padding: 20px;
	display: flex;
	justify-content: space-between;
	gap: 20px;
}

.recap-row1 {
	padding: 30px;
}

.recap h1 {
	font-size: 1.8rem;
}

.recap-features {
	margin-top: 1rem;
	margin-bottom: 2rem;
}

.recap-features li {
	display: flex;
	gap: 10px;
	font-size: 0.9rem;
	align-items: center;
	margin-bottom: 0.6rem;
}

.recap-features img {
	width: 14px;
	height: 14px;
}

.recap-features span {
	font-weight: 600;
}

.recap-row2 {
	max-width: 320px;
}

.recap-row2 img {
	mix-blend-mode: multiply;
	width: 100%;
}

.recap-button {
	background-color: green;
	color: white;
	padding: 0.5rem 1rem;
	width: max-content;
	border-radius: 5px;
}

@media (max-width: 750px) {
	.recap-container {
		flex-direction: column;
	}
	.recap-row1 {
		order: 2;
	}

	.recap-row2 {
		max-width: 100%;
	}
}

/* compare section */
.compare {
	padding: 3rem 20px;
	background-color: white;
}

.compare-container {
	max-width: 1200px;
	margin: auto;
}

.compare-heading {
	text-align: center;
	font-size: 2rem;
	margin-bottom: 3rem;
}

@media (max-width: 900px) {
	.compare {
		display: none;
	}
}

.p-pricing_table {
	text-align: center;
	color: #1d1c1d;
	table-layout: fixed;
	border-top: 0;
	border-bottom: none;
	margin-top: 58px;
	margin-bottom: 0;
	display: table;
	position: relative;
}

.compare table {
	display: table;
	border-collapse: separate;
	box-sizing: border-box;
	text-indent: initial;
	border-spacing: 0px;
	border-color: gray;
}

.p-pricing_table thead,
.p-pricing_table tfoot {
	text-align: center;
}

.compare th {
	display: table-cell;
	vertical-align: inherit;
	font-weight: 600;
	text-align: -internal-center;
}

.p-pricing_table__header {
	vertical-align: top;
	background-color: #1d1c1d0a;
	border-left: 34px solid #fff;
	width: 18%;
	min-width: 170px;
	padding: 1rem 1rem;
	font-size: 18px;
	font-weight: 900;
	line-height: 1.33334;
}

.p-pricing_table .p-upgrade_cta--current_plan {
	background: rgba(var(--sk_foreground_low_solid, 221, 221, 221), 1);
	color: rgba(var(--sk_primary_foreground, 29, 28, 29), 0.75);
}

.p-sticky_header_banner .p-upgrade_cta {
	font-size: 15px;
	line-height: 1.46668;
	font-weight: initial;
	opacity: 0;
	height: 36px;
	padding-left: 11px;
	padding-right: 11px;
	font-weight: 700;
	transition: none;
	display: inline-block;
}
.p-upgrade_cta--current_plan {
	color: #868686;
	text-align: center;
	white-space: nowrap;
	border: 1px solid #ddd;
	border-radius: 4px;
	justify-content: center;
	align-items: center;
	font-weight: 700;
	display: inline-flex;
}
.p-upgrade_cta {
	width: 100%;
	height: 100%;
	padding: 16px 0;
	font-size: 18px;
}

.p-sticky_header_banner .p-sticky_header_button_wrapper {
	height: 0;
	overflow: hidden;
}

.p-sticky_header_banner.p-sticky_header_banner--sticky.p-sticky_header_banner--table:before {
	top: inherit;
	height: 92px;
	box-shadow: 0 4px 12px #0000001a;
}

.p-sticky_header_banner.p-sticky_header_banner--hidden:before,
.p-sticky_header_banner.p-sticky_header_banner--offset:before {
	top: inherit;
}
.p-sticky_header_banner.p-sticky_header_banner--sticky:before {
	content: "";
	z-index: -1;
	background-color: #fff;
	width: 100vw;
	height: 73px;
	display: block;
	position: fixed;
	top: 0;
	left: 0;
}

.p-sticky_header_banner .p-upgrade_cta {
	font-size: 15px;
	line-height: 1.46668;
	font-weight: initial;
	opacity: 0;
	height: 36px;
	padding-left: 11px;
	padding-right: 11px;
	font-weight: 700;
	transition: none;
	display: inline-block;
}

.p-upgrade_cta {
	width: 100%;
	height: 100%;
	padding: 16px 0;
	font-size: 18px;
}
.c-button--medium {
	min-width: 80px;
	height: 36px;
	padding: 0 12px 1px;
	font-size: 15px;
}
.c-button--primary {
	color: #fff;
	box-shadow: none;
	background: #007a5a;
	font-weight: 700;
	transition: all 80ms linear;
}
.c-button {
	-webkit-user-select: none;
	user-select: none;
	cursor: pointer;
	text-align: center;
	white-space: nowrap;
	border: none;
	border-radius: 4px;
	outline: none;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	display: inline-flex;
	position: relative;
}

.p-sticky_header_banner.p-sticky_header_banner--sticky.p-sticky_header_banner--table:before {
	top: inherit;
	height: 92px;
	box-shadow: 0 4px 12px #0000001a;
}

.p-sticky_header_banner.p-sticky_header_banner--hidden:before,
.p-sticky_header_banner.p-sticky_header_banner--offset:before {
	top: inherit;
}
.p-sticky_header_banner.p-sticky_header_banner--sticky:before {
	content: "";
	z-index: -1;
	background-color: #fff;
	width: 100vw;
	height: 73px;
	display: block;
	position: fixed;
	top: 0;
	left: 0;
}

.p-sticky_header_banner.p-sticky_header_banner--sticky .c-button,
.p-sticky_header_banner.p-sticky_header_banner--sticky
	.p-upgrade_cta--current_plan,
.p-sticky_header_banner.p-sticky_header_banner--sticky a.c-button--outline {
	padding-top: 5px;
}

.p-sticky_header_banner.p-sticky_header_banner--sticky .p-upgrade_cta {
	opacity: 1;
	margin-top: 11px;
}
.p-sticky_header_banner .p-upgrade_cta {
	font-size: 15px;
	line-height: 1.46668;
	font-weight: initial;
	opacity: 0;
	height: 36px;
	padding-left: 11px;
	padding-right: 11px;
	font-weight: 700;
	transition: none;
	display: inline-block;
}
.c-button--plan_page:link,
.c-button--plan_page:visited {
	color: #007a5a;
}
.p-upgrade_cta {
	width: 100%;
	height: 100%;
	padding: 16px 0;
	font-size: 18px;
}
.c-button--medium {
	min-width: 80px;
	height: 36px;
	padding: 0 12px 1px;
	font-size: 15px;
}
.c-button--plan_page {
	background: rgba(var(--sk_primary_background, 255, 255, 255), 1);
	color: #007a5a;
	background-clip: padding-box;
	border: 1px solid #007a5a4d;
	font-weight: 900;
	transition: all 80ms linear;
}

button {
	cursor: pointer;
	background-color: #0000;
	border-width: 0;
	padding: 0;
}

.p-sticky_header_banner {
	z-index: 99;
	transition: top 0.15s cubic-bezier(0.2, 0.3, 0.25, 0.9);
	top: 0;
	left: 0;
}

.p-plans_page {
	-moz-text-size-adjust: 100%;
	text-size-adjust: 100%;
	background-color: #fff;
	padding-top: 72px;
}
.p-pricing_table__row--header-spacer {
	background-color: #1d1c1d0a;
	border-left: 34px solid #fff;
	padding: 0;
}
.compare tr {
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
}

.p-pricing_table__row--header:first-of-type td {
	padding-top: 0;
}

.p-pricing_table td:first-child {
	text-align: left;
}
.p-pricing_table__row--header td {
	padding-top: 52px;
	padding-left: 0;
	font-size: 18px;
	font-weight: 900;
	line-height: 1.33334;
}

.compare td {
	display: table-cell;
	vertical-align: inherit;
}

.p-pricing_table__tooltip-text {
	border-bottom: 2px dotted #1d1c1d;
}

.p-pricing_table__row--feature td:first-child {
	font-size: 15px;
	line-height: 1.46668;
	font-weight: initial;
	background-color: #0000;
	border-left: 0;
	padding-left: 0;
	padding-right: 32px;
}
.p-pricing_table td:first-child {
	text-align: left;
}
.p-pricing_table__row--feature td {
	font-size: 13px;
	line-height: 1.38463;
	font-weight: initial;
	background-color: #1d1c1d0a;
	border-left: 34px solid #fff;
	padding: 12px;
	line-height: 16px;
}

.offscreen {
	clip: rect(0 0 0 0);
	-webkit-user-select: none;
	user-select: none;
	border: 0;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	position: absolute;
	overflow: hidden;
}

.c-icon {
	justify-content: center;
	align-items: center;
	width: 20px;
	height: 20px;
	display: inline-flex;
	position: relative;
}

/* faq section */

.faq {
	padding: 5rem 20px;
}

.faq-container {
	max-width: 800px;
	margin: auto;
}

.faq h1 {
	text-align: center;
	font-size: 2.4rem;
	margin-bottom: 4rem;
}

.faq-item {
	padding: 1rem 0;
	border-bottom: 1px solid rgb(201, 201, 201);
}

.faq-question {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	padding: 0.6rem 0;
}

.faq-question p {
	font-size: 1.2rem;
}
.faq img {
	width: 15px;
	height: 15px;
	cursor: pointer;
}

.faq-answer {
	color: rgb(85, 85, 85);
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s ease-in-out;
}

.show {
	max-height: 1000px;
}

@media (max-width: 600px) {
	.faq h1 {
		font-size: 1.6rem;
	}
}

/* security section */

.security {
	padding: 8rem 20px;
}

.security-container {
	max-width: 1200px;
	margin: auto;
	text-align: center;
}

.security h1 {
	font-size: 2.2rem;
	margin-bottom: 1rem;
	color: rgb(29, 29, 29);
}

.security p {
	font-size: 1.1rem;
	max-width: 600px;
	margin: auto;
	margin-bottom: 0.8rem;
}

.security-learn {
	margin-bottom: 6rem;
}
.security-logos {
	margin-top: 4rem;
	display: flex;
	justify-content: space-around;
	gap: 20px;
	flex-wrap: wrap;
}

.security-logos img {
	width: 3rem;
	height: 3rem;
}

/* trust section */

.trust {
	padding: 4rem 20px;
}

.trust-container {
	max-width: 1200px;
	margin: auto;
	text-align: center;
}

.trust h1 {
	font-size: 2rem;
	text-align: center;
	max-width: 600px;
	margin: auto;
	color: rgb(24, 24, 24);
	line-height: 2.8rem;
	margin-bottom: 4rem;
}

.trust-logos {
	display: flex;
	justify-content: space-around;
	gap: 40px;
	margin-bottom: 3rem;
	flex-wrap: wrap;
}

.trust-logos img {
	height: auto;
}

.trust a:hover {
	text-decoration: underline;
}

@media (max-width: 600px) {
	.security h1,
	.trust h1 {
		font-size: 1.6rem;
	}
}

.backtotop-btn {
	background-color: rgb(221, 219, 219);
	padding: 1rem 3rem;
	margin-bottom: 3rem;
	margin-top: 6rem;
	color: black;
	display: inline-block;
	font-size: 1.2rem;
	font-weight: 600;
	border-radius: 5px;
}

.more-question {
	font-size: 1.2rem;
}
