.hero {
	padding: 10rem 20px;
}

.hero-container {
	max-width: 1200px;
	margin: auto;
}

.hero h1 {
	font-size: 2.8rem;
	font-weight: 600;
	line-height: 2.5rem;
	text-align: center;
	color: black;
}

.hero-head {
	color: #c4c4c4 !important;
}

.hero-flex {
	display: flex;
	gap: 25px;
	justify-content: center;
	margin-top: 3rem;
	cursor: pointer;
}

.hero-flex p {
	font-weight: 500;
	font-size: 1.1rem;
	display: flex;
	align-items: center;
}

.hero-toggle {
	width: 70px;
	background-color: #5f5f5f;
	height: 40px;
	border-radius: 2rem;
	display: flex;
	align-items: center;
	padding: 4px;
}

.hero-toggle-ball {
	width: 32px;
	height: 32px;
	background-color: white;
	border-radius: 50%;
	padding-left: 4px;
}

/* ======= plan section ========== */

.plan {
	padding: 2rem 20px;
}

.plan-container {
	max-width: 1200px;
	margin: auto;
}

.plan-flex {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	flex-basis: 25%;
}

.plan-item {
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	padding: 30px;
	min-width: 22%;
}

.plan-item h5 {
	font-size: 1rem;
	font-weight: 600;
	padding-top: 0.5rem;
	padding-bottom: 1rem;
}

.plan-item h2 {
	font-size: 1rem;
	font-weight: 600;
}

.plan-item span {
	font-size: 2.4rem;
}

.plan-save {
	color: rgb(0, 89, 255);
	margin-top: -0.5rem;
	margin-bottom: 2rem;
}

.plan-content {
	font-size: 0.8rem;
	margin-bottom: 0.8rem;
	line-height: 1.4rem;
}

.plan-button {
	background-color: black;
	color: white;
	height: 50px;
	margin-top: 0.8rem;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 1.5rem;
}

.plan-feature-heading {
	font-size: 0.8rem;
	font-weight: 600;
	color: #5f5f5f;
	margin-bottom: 0.4rem;
}

.plan-features {
	display: flex;
	flex-direction: column;
}

.plan-feature-item {
	display: flex;
	justify-content: space-between;
	padding: 1rem 0;
	border-bottom: 0.5px solid rgb(194, 194, 194);
}

.plan-feature-icon {
	width: 20px;
	height: 20px;
	display: flex;
	align-items: center;
}

.plan-feature-flex {
	display: flex;
	gap: 30px;
	align-items: center;
}

.plan-feature-flex h4 {
	color: rgb(41, 41, 41);
	font-weight: 500;
}

.plan-compare {
	margin-top: 1.5rem;
	display: flex;
	gap: 1.4rem;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.plan-compare img {
	width: 15px;
	height: 15px;
	transform: rotate(90deg);
}

.plan-compare p {
	font-weight: 500;
}

.plan-compare p:hover {
	text-decoration: underline;
}

/* ======= reate section ====== */

.rate {
	padding: 5rem 20px;
	background-color: #05192d;
	color: white;
}

.rate-container {
	max-width: 1200px;
	margin: auto;
	display: flex;
	justify-content: space-around;
	gap: 20px;
}

.rate-item {
	max-width: 320px;
}

.rate-item h2 {
	font-size: 2.2rem;
	font-weight: 600;
}

.rate-item h4 {
	font-size: 1.4rem;
	font-weight: 500;
}

/* princing table */

.table {
	background-color: #fffbf3;
	position: relative;
}
.table-container {
	width: 100%;
	max-width: 1200px;
	margin: auto;
	padding: 6rem 1.2rem;
}

@media screen and (min-width: 1200px) {
	.table-container {
		display: block;
	}
}

.table table {
	display: table;
	border-spacing: 2px;
	border-color: gray;
}

.table tr {
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
}

.price-table {
	border-collapse: separate;
	width: 100%;
}

.table-heading {
	position: -webkit-sticky;
	position: sticky;
	top: 10px;
	z-index: 20;
}

.table-heading th:nth-of-type(1) {
	border-color: transparent;
	text-align: left;
	vertical-align: bottom;
}

/* cta section */

.cta {
	background-color: black;
	color: white;
	padding: 4rem 20px;
}

.cta-container {
	max-width: 1200px;
	margin: auto;
	display: flex;
	gap: 20px;
	justify-content: space-between;
}

.cta-row2 {
	display: flex;
	max-width: 45%;
	justify-content: space-around;
}

.cta-row2 img {
	width: 100%;
	object-fit: cover;
	aspect-ratio: 1/1;
}

.cta-row1 {
	padding: 3rem 20px;
}

.cta h5 {
	font-size: 1.1rem;
	font-weight: 600;
	padding-bottom: 3rem;
}

.cta h1 {
	font-size: 3rem;
	font-weight: 600;
	max-width: 400px;
	line-height: 3.6rem;
	margin-bottom: 20px;
}

.cta p {
	max-width: 380px;
	margin-bottom: 2.4rem;
}

.cta-button {
	width: max-content;
	background-color: white;
	padding: 1rem 1.5rem;
	color: black;
	font-weight: 500;
}

@media (max-width: 750px) {
	.cta-container {
		flex-direction: column;
	}

	.cta-row2 {
		max-width: 100%;
		order: -1;
	}
}

/* faq section */

.faq {
	background-color: black;
	color: white;
	padding: 4rem 20px;
}

.faq-container {
	max-width: 1200px;
	margin: auto;
	display: flex;
	gap: 20px;
	justify-content: space-between;
}

.faq-row1 {
	min-width: 48%;
}

.faq-row1 h1 {
	font-size: 12rem;
	font-weight: 600;
	line-height: 13rem;
}

.faq-row2 {
	width: 100%;
}

.faq-content {
	padding: 1.2rem 0px;
	border-top: 1px solid gray;
}

.faq-question {
	display: flex;
	justify-content: space-between;
	gap: 20px;
}

.faq-question img {
	width: 15px;
	height: 15px;
	filter: invert(100%);
	cursor: pointer;
	transition: transform 0.4s ease-in-out;
}

.faq-question h3 {
	font-size: 1.4rem;
	font-weight: 600;
}

.faq-answer {
	margin-top: 0.5rem;
	overflow: hidden;
	max-height: 0px;
	transition: max-height 0.4s ease-in-out;
}

.show {
	display: block !important;
	max-height: 500px;
}

@media (max-width: 1024px) {
	.faq-container {
		flex-direction: column;
	}

	.faq-row1 h1 {
		font-size: 10rem;
	}
}
